.bg {
  /* background-color: #e49393; */
  background-color: #eee; /* first solid color */
  background-image: linear-gradient(-105deg, #ffc0cb 65%, transparent 0%);
  /* diagonal stripe pattern */

  height: 100vh; /* set height to full viewport height */
}
